<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Estudiantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

{% with mensajes = get_flashed_messages() %}
  {% if mensajes %}
    <div class="alert alert-success">
      {% for mensaje in mensajes %}
        {{ mensaje }}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<body>
    
    <div class="container">
        <h2 class="titulo">Registro de Estudiantes</h2>

        <div class="formulario">
            <form action="/agregar" method="POST">
                <label for="carnet">Carnet:</label>
                <div class="carnet-container">
                    <input type="text" name="carnet1" required pattern="\d{4}" placeholder="XXXX">
                    <input type="text" name="carnet2" required pattern="\d{2}" placeholder="XX">
                    <input type="text" name="carnet3" required pattern="\d{4}" placeholder="XXXX">
                </div>
                <!-- Nombre -->
                <label>Nombre:</label>
                <input type="text" name="PrimerNombre" placeholder="Primer Nombre" required>
                <input type="text" name="SegundoNombre" placeholder="Segundo Nombre">
                <!--Apellido -->
                <label>Apellido:</label>
                <input type="text" name="PrimerApellido" placeholder="Primer Apellido" required>
                <input type="text" name="SegundoApellido" placeholder="Segundo Apellido">
                <!--Telefono -->
                <label>Telefono:</label>
                <input type="text" name="Telefono" placeholder="Numero de Telefono">
                <!--correo -->
                <label>Correo Electronico:</label>
                <input type="email" name="CorreoElectronico" placeholder="Correo Electronico">
                <!--pago -->
                <label>Pagado:</label>
                <select name="Pagado">
                    <option value="Sí">Sí</option>
                    <option value="No">No</option>
                </select>
                <!--fecha registro -->
                <label>Fecha Registro:</label>
                <input type="date" name="fecha">
                <!--boton guardar-->
                <div class="btn-container">
                    <button type="submit" class="btn btn-agregar">Agregar</button>
                </div>
            </form>
        </div>

        <!--campos y botonde buscar -->
        <div class="acciones">
            <form action="/buscar" method="POST">
                <label>Buscar</label>
                <div class="carnet-container">
                    <input type="text" name="carnet1" required pattern="\d{4}" placeholder="XXXX">
                    <input type="text" name="carnet2" required pattern="\d{2}" placeholder="XX">
                    <input type="text" name="carnet3" required pattern="\d{4}" placeholder="XXXX">
                </div>
                <button type="submit" class="btn btn-buscar">Buscar</button>
            </form>

            <!--campos y boton de eliminar -->
            <form action="/eliminar" method="POST">
                <label>Eliminar</label>
                <div class="carnet-container">
                    <input type="text" name="carnet1" required pattern="\d{4}" placeholder="XXXX">
                    <input type="text" name="carnet2" required pattern="\d{2}" placeholder="XX">
                    <input type="text" name="carnet3" required pattern="\d{4}" placeholder="XXXX">
                </div>
                <button type="submit" class="btn btn-eliminar">Eliminar</button>
            </form>
        </div>
    </div>

</body>
</html>
