body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.formulario {
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.carnet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    text-align: center;
    margin-top: 15px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.acciones form {
    width: 45%;
}

.btn-buscar {
    background-color: #28a745;
}

.btn-eliminar {
    background-color: #dc3545;
}

.btn-secondary {
    background-color: #dc3545;
}

.btn-Guardar, .btn-Cancelar {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Evita el subrayado de los enlaces */
    display: inline-block; /* Asegura que el <a> tenga el mismo comportamiento que un botón */
    text-align: center;
}

.btn-Guardar:hover{
    background-color: #0056b3;
}

.btn-Cancelar:hover {
    background-color: #e71313;}